{{#each info}}
    <tr>
        <th>Tipo de energía.</th>
        <td>{{tipoDeEnergia}}</td>
    </tr>
    <tr>
        <th>Nombre de enregía</th>
        <td>{{descripcion}}</td>
    </tr>
    <tr>
        <th>Energía Kws.</th>
        <td>{{energiaGenerada}}</td>
    </tr>
    <tr>
        <th>Presupuesto $.</th>
        <td>{{presupuesto}}</td>
    </tr>
    <tr>
        <th>Tiempo meses.</th>
        <td>{{tiempoEstimado}}</td>
    </tr>   
    {{/each}}