
      {{#each info}}
    <tr>
        <td>{{tipoDeEnergia}}</td>
        <td>{{descripcion}}</td>
        <td>{{energiaGenerada}}</td>
        <td>{{presupuesto}}</td>
        <td>{{tiempoEstimado}}</td>
    </tr>
      {{/each}}



{{!-- <table>
  <thead>
    <tr>
      <th>Tipo de energía</th>
      <th>Nombre de enregía</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fila 1, Columna 1</td>
      <td>Fila 1, Columna 2</td>
    </tr>
  </tbody>
</table> --}}